body{
    background-color: #3b562c;
}

#img-container
{
    background-color: black;
}
/* img{
    width: 526px;
    height: 350px;
} */


.fit-page{
    margin-top:45px;
    width:901px;
    display: grid;
    grid-template-columns: 40% 60%;
}

.box-signup
{
    border: 1px solid white;
    padding: 0 30px;
    background-color: white;
}

.shape
{
    display: grid;
    grid-template-columns:  auto auto auto;
    width:100px;
    column-gap: 5px;
    margin-top: 20px;
}

li{
    list-style: none;
    
}

#circle {
    
    border: 1px solid red;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

#triangle {
    width: 0;
    height: 0;
    position:relative;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 27px solid red;
   
   
}

#triangle:before {
    content:"";
    width: 0;
    height: 0;
    position:absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 24px solid white;
    margin-left:-15px;
    margin-top:2px;
   
   
}

#square
{
    height:27px;
    width:27px;
    border: 1px solid red;
    margin-left: 8px;
}

.text-squid
{
    color:red;
    margin-bottom: -10px;
}

.register-text
{
    font-size:28px;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;

}

.above-text
{
    margin-top:20px;
    margin-bottom: 20px;
}

.below-input-text
{
    margin-top: -20px;
    margin-bottom: 50px;
   
}

.span-text{
    margin-top: 5px;
    position: absolute;
    font-size: 11px;
    
}

#mm
{
    margin-left:73px;
}

#yy
{
    margin-left:146px;
}

.input-box
{
    border:1px solid orange;
}

#btn-submit
{
   
    margin-top: 75px;
    width:292px;
}

.btn-figure
{
    border:1px solid white;
    border-radius:50%;
    width:45px;
    height:45px;
    position: absolute;
    background-color: #f1f1f1;
}

.btn-two
{
    margin-left:67px;
}

.btn-three
{
    margin-left:134px;
}

.btn-four
{
    margin-left:203px;
}

#btn-triangle {
    width: 0;
    height: 0;
    position:relative;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 25px solid black;
    margin-left: 2px;
    margin-bottom: 4px;
    background-color: #f1f1f1;
   
   
}

#btn-triangle:before {
    content:"";
    width: 0;
    height: 0;
    position:absolute;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 20px solid #f1f1f1;
    margin-left:-9px;
    margin-top:3px;
   
   
}

#btn-circle {
    
    border: 2px solid black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: 3px;
}

#line
{
    width:240px;
    position: absolute;
    margin-top:22px;
    height: 1px;
    background-color: red;

}

/* p{
    width:292px;
    font-size:11px;
} */

#prize-text
{
    margin-top: 15px;
    
}

#money-text
{
    font-family: 'Unbounded', cursive;
    margin-left:29%;
    font-size: 27px;
    color:white;
}

#prize-state
{
    margin-left:37%;
    font-size: 12px;
    /* font-family: 'Unbounded', cursive; */
    color: #959595;
}

.f-11
{
    font-size: 8px;
    font-family: 'Unbounded', cursive;
    color: #959595;

}

#people-registered{
    display: grid;
    grid-template-columns: 41% 40%;
    grid-template-rows: auto auto;
    column-gap: 30%;
    margin-top: 30px;
    margin-left: 20px;

}

#total-people
{
    font-size:15px;
    font-family: 'Unbounded', cursive;
    color: white;
  }

  #date-text
{
    font-size:15px;
    font-family: 'Unbounded', cursive;
    color: white;
    margin-left: 11px;
  }

  #text-430{
    width: 38px;
    height: 1px;
    background: white;
    margin-top: -8px;
  }
  @media screen and (max-width:768px){
    body{
        background: rgb(211, 102, 102);
    }

   
    

    
  }