body{
    background-color: #3b562c;
}

#img-container
{
    background-color: black;
}
img{
    width: 526px;
    height: 350px;
}


.fit-page{
    margin-top:25px;
    width:901px;
    display: grid;
    grid-template-columns: 40% 60%;
}

.box-signup
{
    border: 1px solid white;
    padding: 0 30px;
    background-color: white;
}

.shape
{
    display: grid;
    grid-template-columns:  auto auto auto;
    width:100px;
    column-gap: 5px;
    margin-top: 20px;
}

li{
    list-style: none;
    
}

#circle {
    
    border: 1px solid red;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

#triangle {
    width: 0;
    height: 0;
    position:relative;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 27px solid red;
   
   
}

#triangle:before {
    content:"";
    width: 0;
    height: 0;
    position:absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 24px solid white;
    margin-left:-15px;
    margin-top:2px;
   
   
}

#square
{
    height:27px;
    width:27px;
    border: 1px solid red;
    margin-left: 8px;
}

.text-squid
{
    color:red;
    margin-bottom: -10px;
}

.register-text
{
    font-size:28px;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;

}

.above-text
{
    margin-top:20px;
    margin-bottom: 20px;
}

.below-input-text
{
    margin-top: -20px;
    margin-bottom: 50px;
   
}

.span-text{
    margin-top: 5px;
    position: absolute;
    font-size: 11px;
    
}

#mm
{
    margin-left:73px;
}

#yy
{
    margin-left:146px;
}

.input-box
{
    border:1px solid orange;
}

.button-group{
    
    display: grid;
    
    grid-template-columns: 2% 2% 2% 2%;
}

#umbrella
{
    height: 37px;
    width: 37px;
}

#btn-submit
{
   
    margin-top: 22px;
    width: 288px;
}

.btn-figure
{
    border:1px solid white;
    border-radius:50%;
    width:45px;
    height:45px;
    z-index: 1;
    background-color: #f1f1f1;
}

.btn-two
{
    margin-left:67px;
}

.btn-three
{
    margin-left:134px;
    padding: 0;
}

.btn-four
{
    margin-left:203px;
    padding: 0;
}

#star{
    height: 37px;
    width: 37px;
    
}

#btn-triangle {
    width: 0;
    height: 0;
    position:relative;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 25px solid black;
    margin-left: 2px;
    margin-bottom: 4px;
    background-color: #f1f1f1;
   
   
}

#btn-triangle:before {
    content:"";
    width: 0;
    height: 0;
    position:absolute;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 20px solid #f1f1f1;
    margin-left:-9px;
    margin-top:3px;
   
   
}

#btn-circle {
    
    border: 2px solid black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: 3px;
}

#line
{
    width:240px;
    position: absolute;
    margin-top:22px;
    height: 1px;
    background-color: red;

}

.para{
    width:287px;
    margin-bottom: 30px;
    font-size:10px;
    text-align: center;
}

#prize-text
{
    margin-top: 5px;
   
    
}

#money-text
{
    font-family: 'Unbounded', cursive;
    font-size: 27px;
    color:white;
    margin: 0 29%;
}

#prize-state
{
    
    font-size: 8px;
    font-family: 'Unbounded', cursive;
    color: #959595;
    margin: 0 37%;
}

.f-11
{
    font-size: 8px;
    font-family: 'Unbounded', cursive;
    color: #959595;

}

#people-registered{
   
padding: 0 5px;
margin-top: 65px;
display: grid;
width: 526px;
grid-template-columns: auto auto;
column-gap: 50%;
}

#total-people
{
    font-size:15px;
    
    font-family: 'Unbounded', cursive;
    color: white;
  }

  #date-text
{
    
    font-size:15px;
    font-family: 'Unbounded', cursive;
    color: white;
    margin-left: 11px;
  }

  #text-430{
    width: 38px;
    height: 1px;
    background: white;
    margin-top: -8px;
  }
  @media screen and (max-width:768px){
    body{
        background: rgb(211, 102, 102);
    }

    .fit-page{
       
        width:320px;
        display: block;
       
    }

    .box-signup{
        width: 300px;
        padding: 0 7px;
    }

    .g-1
    {
        display: grid;
        grid-template-columns: 25% 25% 50%;
    }
    img{
        width:300px;
    }

    #img-container{
        width:300px;
    }
    
    .below-input-text {
        
        margin-bottom: 40px;
    }

    strong
    {
        font-size: 9px;
    }

    .btn-figure{
        width: 28px;
        height: 28px;
    }

    .btn-two{
        margin-left: 45px;
    }

    .btn-three{
        margin-left: 97px;
    }

    .btn-four{
        margin-left: 137px;
    }

    #line
    {
        width:160px;
        margin-top: 15px;
    }

    #umbrella
    {
        height: 25px;
        width: 25px;
    }
    
    #btn-submit
    {
        margin-top: 15px;
    width: 283px;
    }

    .para{
        width: 282px;
        text-align: center;
        font-size: 8px;
        margin-bottom: 5px;
    }

    #prize-text
    {
        padding: 0;
    }
    #prize-state{
    font-size: 6px;
    margin: 0px 34%;
    }

    #money-text{
        margin: 0px 27%;
    font-size: 17px;
    }

    .f-11{
        font-size: 4px;
    }

    #people-registered{
    margin-top: 15px;
    width: 272px;
    grid-template-columns: 100px 100px;
    column-gap: 50%;  
    
    }

    #date-text{
        font-size: 10px;
         margin-left: -8px;
    }
    #total-people{
        font-size: 10px;
    }

    #text-430{
        width: 26px;
    }

    #btn-circle
    {
        width: 15px;
    height: 15px;
    margin-left: 0px;
    }

    #btn-triangle
{
border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 17px solid black;
    margin-left: -3px;
}

#btn-triangle:before{
border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid #f1f1f1;
    margin-left: -7px;
}

#line {
    width: 260px;
}

.button-group{
       
    display: grid;
    grid-template-columns: 13% 13% 13% 13%;
}

#star
{
    height: 24px;
    width: 24px;
    margin-bottom: 2px;
}
    }
  